{% extends 'base.html' %}
{% block main %}

<h1>Choose</h1>
<hr>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger" id="duration">Duration</button>
  <button class="btn btn-warning" id="middle"><a href="{{ url_for('monitor') }}">Monitor</a></button>
  <button type="button" class="btn btn-success" id="calories">Calories</button>
</div>

<script>
    $("button").click(function(){
        var id = $(this).attr('id');
        $.post("/set-data", {data: id});
    });
</script>


{% endblock %}
